<ion-view>

    <ion-content id="createLine" class="page">
        <!-- Line info -->
        <div class="col col-80 col-offset-10 row large pageTitle">Create Line
            <!--                 <div class="col">
                    <img width=100px; src="./img/choose.jpg" onerror="this.src = './img/choose.jpg';" ng-src="newLine.ImageURI" id="smallimage" ng-click="ShowPictures()" />
                </div> -->
            <!-- <div class="col col-center">
                    <label class="item item-input">
                        <input type="text" ng-model="newLine.title" placeholder="Title">
                    </label>

                </div> -->
        </div>

        <div class="container">

            <div class="row row-center">
                <label class="item item-input lineLable">
                    <div class="col col-25">
                        {{"TR_Title" | translate}}
                    </div>
                    <div class="col col-75 col-offset-20">
                        <input type="text" ng-model="newLine.title" placeholder="Enter Title">
                    </div>
                </label>
            </div>

            <div class="row row-center">
                <label class="item item-input lineLable ">
                    <div class="col col-25">{{"TR_Date" | translate}}
                    </div>
                    <div class="col col-75 col-offset-20">
                        <input type="date" ng-model="newLine.day" placeholder="DD-MM-YYYY">
                    </div>
                </label>
            </div>

            <div class="row row-center">
                <label class="item item-input lineLable ">
                    <div class="col col-25">{{"TR_From" | translate}}
                    </div>
                    <div class="col col-75 col-offset-20">
                        <input type="time" ng-model="newLine.startDate" placeholder="HH:mm">
                    </div>
                </label>
            </div>

            <div class="row row-center">
                <label class="item item-input lineLable">
                    <div class="col col-25">{{"TR_to" | translate}}
                    </div>
                    <div class="col col-75 col-offset-20">
                        <input type="time" ng-model="newLine.endDate" placeholder="HH:mm">
                    </div>
                </label>
            </div>

            <div class="row row-center">
                <label class="item item-input lineLable">
                    <div class="col col-25">{{"TR_2_Location" | translate}}
                    </div>
                    <div class="col col-75 col-offset-20">
                        <input type="text" id="autocomplete" placeholder="Enter Your Address">
                    </div>
                </label>
            </div>

            <div class="row row-center">
                <label class="item item-input lineLable ">
                    <div class="col col-25">{{"TR_2_Duration" | translate}}
                    </div>
                    <div class="col col-75 col-offset-20">
                        <input type="number" ng-model="newLine.druation" ng-change="newLine.confirmTime = newLine.druation *3">
                    </div>
                </label>
            </div>

             <div class="row row-center">
                <label class="item item-input lineLable">
                    <div class="col col-25">{{"TR_ConfirmTime" | translate }}
                    </div>
                    <div class="col col-75 col-offset-20">
                        <input type="number" ng-model="newLine.confirmTime" value="10">
                    </div>
                </label>
            </div>  

            <div class="row row-center">
                <div class="col col-35 col-offset-5" ng-disabled="newLine.manuall">{{"TR_2_ManualLine" | translate}}
                </div>
                <div class="col col-25 col-offset-40">
                    <label class="toggle">
                        <input type="checkbox" ng-model="newLine.manuall">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>   

        </div>

        <button class="button icon-left ion-play button-positive button-block col-80 col-offset-10" menu-close ng-click="createLine()">{{"TR_StartLine" | translate}}</button>


    </ion-content>
</ion-view>