<ion-view>
    <ion-content id="default" class="page" ng-show="user.username">
 <div class="col col-80 col-offset-10 row pageTitle large">{{"TR_HI" | translate}} {{user.username}}</div>
           <div class="col col-80 col-offset-10 row subTitle">{{"TR_myLines" | translate}}
        </div>
        <!--Create Line button-->
            <button class="button icon-left ion-compose button-positive button-block col-80 col-offset-10" menu-close ng-click="createLine()">{{"TR_Create_Line" | translate}}</button>
           
           <div class="col col-80 col-offset-10 row subTitle" ng-show="user.activeLines.length > 0">{{"TR_Active_Lines" | translate }}
        </div>  
        <ion-list class="col col-80 col-offset-10">
            <ion-item ng-repeat="Line in user.activeLines" ng-click="chooseLineNew(Line.lineId)">
            <div style="float:left">{{Line.title}}</div>
            </ion-item>
        </ion-list>
<br>
        <div class="col col-80 col-offset-10 row subTitle">{{"TR_myMeetings" | translate}}
        </div>

        <div class="row row-center col-80 col-offset-10">
            <div class="col-75">
                <label class="item item-input">
                    <input type="text" ng-model="lineIdToGetText" placeholder="{{placeholder | translate}}" ng-change="changeInput(lineIdToGetText)" ng-click="clearPlaceHolder()">
                </label>
            </div>
            <div class="col-20 col-offset-5">
                <button class="button button-stable button-block" ng-click="openChooseLine(); lineIdToGetText = ''">+</button>
            </div>
        </div>

        <!--Join Line button-->
        <button class="button icon-left ion-plus button-positive button-block col-80 col-offset-10" menu-close ng-disabled="lineIdToGet===''" ng-click="getLine()">{{"TR_join_line" | translate}}</button>

          <div class="col col-80 col-offset-10 row subTitle" ng-show="user.activeMeetings.length > 0">{{"TR_Active_Meetings" | translate }}
        </div>

        <ion-list class="col col-80 col-offset-10" style="padding:0px !important;">
            <ion-item ng-repeat="meeting in user.activeMeetings" ng-click="chooseMeeting(meeting.lineId);">
                <div style="float:left">{{meeting.title}}</div><div style="float:right">{{meeting.time | date : " HH:mm dd/MM/yy"}}</div>
            </ion-item>
        </ion-list>

    </ion-content>

    <ion-content id="signIn" class="page" ng-show="!user.username">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="col-80 col-offset-10">
            <button class="button icon-left ion-email button-positive button-block" ng-click="openLogin()">{{"TR_SignIn_Email" | translate}}</button>

        </div>
         <br>
        <br>
        <br>
        <br>
        <div class="col-80 col-offset-10">
            <button class="button icon-left ion-email button-positive button-block" ng-click="openSignup()">{{"TR_SignUp_Email" | translate}}</button>

        </div>
    </ion-content>    
</ion-view>
