<ion-view>
    <ion-content id="lineStatus" class="page">

        <!-- Line info -->
        <div class="col col-80 col-offset-10 row large pageTitle">
                    {{"Title:" | translate}} {{line.title}}</div>
        
        <!--Line status container-->
        <div class="container">
            <!--users in line row-->
            <div class="row row-center">
                <div class="col col-40 col-offset-5">
                    <div>{{"TR_startDate" | translate}}</div>
                </div>
            </div>
            <div class="row row-center">
                <div class="col col-40 col-offset-5">
                    <h4>{{line.startDate | date:'medium'}}</h4>
                </div>
            </div>

            <!--uswers in line row-->
            <div class="row row-center">
                <div class="col col-40 col-offset-5">
                    <div>{{"TR_endDate" | translate}}</div>
                </div>
            </div>
            <div class="row row-center">
                <div class="col col-40 col-offset-5">
                    <h4>{{line.endDate | date:'medium'}}</h4>
                </div>
            </div>


            <!--users in line row-->
            <div class="row row-center">
                <div class="col col-40 col-offset-5 ">
                    <div>{{"TR_UsersInLine" | translate}}</div>
                </div>
                <div class="col col-40 col-offset-5">
                    <h4>{{line.meetingsCounter}}</h4>
                </div>
            </div>

<br>
            <!--current meetings row-->  
            <div class="row row-center" ng-show="line.currentMeeting">
                <div class="col col-40 col-offset-5">
                    <div>{{"TR_Current_Meetings" | translate}}</div>
                </div>
            </div>

            <div class="row" ng-show="line.currentMeeting">
                <div class="col col-40 col-offset-5">
                    <u>{{"TR_user" | translate}}</u>
                </div>
                <div class="col col-40 col-offset-5">
                   <u>{{"TR_date" | translate}}</u>
                </div>
            </div>


            <div class="row" ng-show="line.currentMeeting">
                <div class="col col-40 col-offset-5">
                    {{line.currentMeeting.userName}}
                </div>
                <div class="col col-40 col-offset-5">
                   {{line.currentMeeting.time | date : " HH:mm"}}
                </div>
            </div>

<br>
            <!--next meetings row-->
            <div ng-show="line.meetings.length > 0 ">       
                <div class="col col-40 row">
                    {{"TR_nextMeetings" | translate}}           
            </div>
            <div class="row">
                <div class="col col-offset-5">
                    <u>{{"TR_user" | translate}}</u>
                </div>
                <div class="col col-offset-5">
                    <u>{{"TR_date" | translate}}</u>
                </div>
                <div class="col col-offset-5">
                    <u>{{"TR_confirm" | translate}}</u>
                </div>
            </div>
            <div class="row" ng-repeat="meeting in line.meetings | limitTo:3">
                <div class="col">
                    <h4>{{meeting.userName}}</h4>
                </div>
                <div class="col col-offset-5">
                    <h4>{{meeting.time | date: "HH:mm"}}</h4>
                </div>
                <div class="col col-offset-5">
                    <h4 ng-show="meeting.confirmed" class="icon-left ion-checkmark"></h4>
                    <h4 ng-show="!meeting.confirmed" class="icon-left ion-close"></h4>
                </div>
                </div>
            </div>

        </div>
        <br>
        <br>

    </ion-content>

    <div class="bar bar-footer">
        <div class="tabs tabs-icon-top">
            <a class="tab-item" ng-click="nextMeeting()" ng-show="line.active">
                <i class="icon ion-skip-forward"></i> {{"TR_NextMeeting" | translate}}
            </a>
            <a class="tab-item tabs-stable" ng-show="!line.active">
                <i class="icon ion-skip-forward"></i>{{"TR_NextMeeting" | translate}}
            </a>
            <a class="tab-item" ng-click="postponeLine()">
                <i class="icon ion-pause"></i> {{"TR_PauseLine" | translate}}
            </a>
            <a class="tab-item" ng-click="endLine()">
                <i class="icon ion-close"></i> {{"TR_EndLine" | translate}}
            </a>
            <a class="tab-item" ng-click="analyzeLine()">
                <i class="icon ion-stats-bars"></i> {{"TR_LineAnalyze" | translate}}
            </a>
            <a class="tab-item" ng-click="shareLine()">
                <i class="icon ion-android-share"></i> {{"TR_ShareLine" | translate}}
            </a>
        </div>
    </div>
</ion-view>