<ion-view>
    <ion-content id="lineStatus" class="page">

        <!-- Line info -->
        <div class="col col-80 col-offset-10">
            <div class="row">
                <div class="col">
                    <img width=100px src="./img/temp.jpg">
                </div>
                <div class="col">
                    <div class="row">Title:</div>
                    <div class="row">
                        <h4>{{line.title}}</h4></div>
                </div>
            </div>
        </div>

        <!--Line status container-->
        <div class="container">

            <!--users in line row-->
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div class="input-label">{{"TR_5_startDate" | translate}}</div>
                </div>
                <div class="col col-40">
                    <h4>{{line.startDate}}</h4>
                </div>
            </div>

            <!--uswers in line row-->
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div class="input-label">{{"TR_5_endDate" | translate}}</div>
                </div>
                <div class="col col-40">
                    <h4>{{line.endDate}}</h4>
                </div>
            </div>


            <!--users in line row-->
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div class="input-label">{{"TR_5_UsersInLine" | translate}}</div>
                </div>
                <div class="col col-40">
                    <h4>{{line.numOfusers}}</h4>
                </div>
            </div>

            <!--next meetings row-->
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div class="input-label">{{"TR_5_nextMeetings" | translate}}</div>
                </div>
                <div class="col col-40">
                    <h4>{{line.nextMeetings}}</h4>
                </div>
            </div>

        </div>


    </ion-content>

<div class="bar bar-footer">
            <div class="tabs tabs-icon-top">
                <a class="tab-item"  ng-click="nextMeeting()">
                    <i class="icon ion-skip-forward"></i> Next Meeting
                </a>
                <a class="tab-item" ng-click="postponeMeeting()">
                    <i class="icon ion-pause"></i> Pause Line
                </a>
                <a class="tab-item" ng-click="endLine()">
                    <i class="icon ion-close"></i> End Line
                </a>                
                <a class="tab-item" ng-click="shareLine()">
                    <i class="icon ion-android-share"></i> Share Line
                </a>
            </div>
        </div>
</ion-view>