<ion-view>
    <ion-content id="lineStatus" class="page">

        <!-- Line info -->
<!--         <div class="col col-80 col-offset-10">
            <div class="row">
                <div class="col">
                    <img width=100px src="./img/temp.jpg">
                </div>
                <div class="col">
                    <div class="row">Title:</div>
                    <div class="row">
                        <h4>{{line.title}}</h4></div>
                </div>
            </div>
        </div>
 -->

       <!-- Line info -->
        <div class="col col-80 col-offset-10 row">
                    <div class="col">Title: <span class="lineTitle">{{line.title}}</span></div>
        </div>
        <!--Line status container-->
        <div class="container col col-80 col-offset-10">

            <!--users in line row-->
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div><u>{{"TR_5_startDate" | translate}}</u></div>
                </div>
            </div>
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <h4>{{line.startDate | date:'medium'}}</h4>
                </div>
            </div>

            <!--uswers in line row-->
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div><u>{{"TR_5_endDate" | translate}}</u></div>
                </div>
            </div>
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <h4>{{line.endDate | date:'medium'}}</h4>
                </div>
            </div>


            <!--uswers in line row-->
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div><u>Location</u></div>
                </div>
            </div>
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <h4>{{line.location[0].address}}</h4>
                </div>
            </div>
            <!--users in line row-->
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div><u>Defualt meeting duration:</u></div>
                </div>
                <div class="col col-40">
                    <h4>{{line.druation}}</h4>
                </div>
            </div>

            <!--users in line row-->
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div><u>Current meeting duration:</u></div>
                </div>
                <div class="col col-40">
                    <h4>{{line.druationAvarage}}</h4>
                </div>
            </div>

            <!--users in line row-->
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div><u>Total meetings in line:</u></div>
                </div>
                <div class="col col-40">
                    <h4>{{line.meetingsCounter}}</h4>
                </div>
            </div>

            <!--users in line row-->
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div><u>Future meetings:</u></div>
                </div>
                <div class="col col-40">
                    <h4>{{line.meetingsCounter}}</h4>
                </div>
            </div>

            <!--users in line row-->
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div><u>Passed meetings meetings:</u></div>
                </div>
                <div class="col col-40">
                    <h4>{{line.passedMeetings.length}}</h4>
                </div>
            </div>

            <!--users in line row-->
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div><u>Canceled meetings:</u></div>
                </div>
                <div class="col col-40">
                    <h4>{{line.canceldMeetings.length}}</h4>
                </div>
            </div>
            
            <!--next meetings row-->
            <div ng-show="line.meetings.length > 0 ">
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div><u>{{"TR_5_nextMeetings" | translate}}</u></div>
                </div>
            </div>
            <div class="row">
                <div class="col col-40 col-offset-5">
                    {{"TR_5_user" | translate}}
                </div>
                <div class="col col-40 col-offset-5">
                    {{"TR_5_date" | translate}}
                </div>
            </div>
            <div class="row" ng-repeat="meeting in line.meetings">
                <div class="col col-40 col-offset-5">
                    <h4>{{meeting.userName}}</h4>
                </div>
                <div class="col col-40 col-offset-5">
                    <h4>{{meeting.time | date:'medium'}}</h4>
                </div>
            </div>
            </div>

            <!--Past meetings row-->
            <div ng-show="line.passedMeetings.length > 0 ">
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div><u>{{"TR_5_pastMeetings" | translate}}</u></div>
                </div>
            </div>
            <div class="row">
                <div class="col col-40 col-offset-5">
                   {{"TR_5_user" | translate}}
                </div>
                <div class="col col-40 col-offset-5">
                    {{"TR_5_date" | translate}}
                </div>
            </div>
            <div class="row" ng-repeat="meeting in line.passedMeetings">
                <div class="col col-40 col-offset-5">
                    <h4><u>{{meeting.userName}}</u></h4>
                </div>
                <div class="col col-40 col-offset-5">
                    <h4><u>{{meeting.time | date:'medium'}}</u></h4>
                </div>
            </div>
            </div>

        </div>


    </ion-content>

    <div class="bar bar-footer">
        <div class="tabs tabs-icon-top">
            <a class="tab-item" ng-click="nextMeeting()" ng-show="line.currentMeeting">
                <i class="icon ion-skip-forward"></i> Next Meeting
            </a>
            <a class="tab-item" ng-click="postponeLine()">
                <i class="icon ion-pause"></i> Pause Line
            </a>
            <a class="tab-item" ng-click="endLine()">
                <i class="icon ion-close"></i> End Line
            </a>
                <a class="tab-item" ng-click="LineStatus()">
                    <i class="icon ion-home"></i> Line Status
                </a>
            <a class="tab-item" ng-click="shareLine()">
                <i class="icon ion-android-share"></i> Share Line
            </a>
        </div>
    </div>
</ion-view>