<ion-view>
    <ion-content id="lineAnalyze" class="page">

        <!-- Line info -->
        <!--         <div class="col col-80 col-offset-10">
            <div class="row">
                <div class="col">
                    <img width=100px src="./img/temp.jpg">
                </div>
                <div class="col">
                    <div class="row">Title:</div>
                    <div class="row">
                        <h4>{{line.title}}</h4></div>
                </div>
            </div>
        </div>
 -->

        <!-- Line info -->
        <div class="col col-80 col-offset-10 row large pageTitle">{{"Title:" | translate}} {{line.title}}</div>

        <!--Line status container-->
        <div class="col col-80 col-offset-10 subTitle">{{"TR_LineInformation" | translate}}</div>
        <div class="container">

            <!--users in line row-->
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div>{{"TR_startDate" | translate}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <h4>{{line.startDate | date:'medium'}}</h4>
                </div>
            </div>

            <!--uswers in line row-->
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div>{{"TR_endDate" | translate}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <h4>{{line.endDate | date:'medium'}}</h4>
                </div>
            </div>


            <!--users in line row-->
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div>{{"TR_Location" | translate}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col col-40 col-offset-5">
                    <h4>{{line.location[0].address}}</h4>
                </div>
            </div>

        </div>
        <div class="col col-80 col-offset-10 subTitle">{{"TR_MeetingDuration" | translate}}</div>
        <div class="container">
            <!--users in line row-->
            <div class="row row-center">
                <div class="col col-60 col-offset-5">
                    <div>{{"TR_DefualtDuration" | translate}}</div>
                </div>
                <div class="col col-20">
                    <h4>{{line.druation}}</h4>
                </div>
            </div>

            <!--users in line row-->
            <div class="row row-center">
                <div class="col col-60 col-offset-5">
                    <div>{{"TR_AvgDuration" | translate}}</div>
                </div>
                <div class="col col-20">
                    <h4>{{line.druationAvarage}}</h4>
                </div>
            </div>
        </div>

        <div class="col col-80 col-offset-10 subTitle">{{"TR_UsersInLine" | translate}}</div>

        <div class="container">
            <!--users in line row-->
            <div class="row row-center">
                <div class="col col-60 col-offset-5">
                    <div>{{"TR_TotalMeetings" | translate}}</div>
                </div>
                <div class="col col-20">
                    <h4>{{line.meetingsCounter +line.passedMeetings.length}}</h4>
                </div>
            </div>

            <!--users in line row-->
            <div class="row row-center">
                <div class="col col-60 col-offset-5">
                    <div>{{"TR_FutureMeetings" | translate}}</div>
                </div>
                <div class="col col-20">
                    <h4>{{line.meetingsCounter}}</h4>
                </div>
            </div>

            <!--users in line row-->
            <div class="row row-center">
                <div class="col col-60 col-offset-5">
                    <div>{{"TR_PastMeetings" | translate}}</div>
                </div>
                <div class="col col-20">
                    <h4>{{line.passedMeetings.length}}</h4>
                </div>
            </div>

            <!--users in line row-->
            <div class="row row-center">
                <div class="col col-60 col-offset-5">
                    <div>{{"TR_CanceledMeetings" | translate}}</div>
                </div>
                <div class="col col-20">
                    <h4>{{line.canceldMeetings.length}}</h4>
                </div>
            </div>

            <!--next meetings row-->
            <div ng-show="line.meetings.length > 0 ">
                <div class="row">
                    <div class="col col-40 col-offset-5">
                        <div>{{"TR_nextMeetings" | translate}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-40 col-offset-5">
                        {{"TR_user" | translate}}
                    </div>
                    <div class="col col-40 col-offset-5">
                        {{"TR_date" | translate}}
                    </div>
                </div>
                <div class="row" ng-repeat="meeting in line.meetings">
                    <div class="col col-40 col-offset-5">
                        <h4>{{meeting.userName}}</h4>
                    </div>
                    <div class="col col-40 col-offset-5">
                        <h4>{{meeting.time | date: "HH:mm"}}</h4>
                    </div>
                </div>
            </div>

            <!--Past meetings row-->
            <div ng-show="line.passedMeetings.length > 0 ">
                <div class="row">
                    <div class="col col-40 col-offset-5">
                        <div>{{"TR_PastMeetings" | translate}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-40 col-offset-5">
                        {{"TR_user" | translate}}
                    </div>
                    <div class="col col-40 col-offset-5">
                        {{"TR_date" | translate}}
                    </div>
                </div>
                <div class="row" ng-repeat="meeting in line.passedMeetings">
                    <div class="col col-40 col-offset-5">
                        <h4>{{meeting.userName}}</h4>
                    </div>
                    <div class="col col-40 col-offset-5">
                        <h4>{{meeting.time | date: "HH:mm"}}</h4>
                    </div>
                </div>
            </div>

        </div>
<br><br>

    </ion-content>

    <div class="bar bar-footer">
        <div class="tabs tabs-icon-top">
            <a class="tab-item" ng-click="nextMeeting()" ng-show="line.active">
                <i class="icon ion-skip-forward"></i> {{"TR_NextMeeting" | translate}}
            </a>
            <a class="tab-item tabs-stable" ng-show="!line.active">
                <i class="icon ion-skip-forward"></i>{{"TR_NextMeeting" | translate}}
            </a>
            <a class="tab-item" ng-click="postponeLine()">
                <i class="icon ion-pause"></i> {{"TR_PauseLine" | translate}}
            </a>
            <a class="tab-item" ng-click="endLine()">
                <i class="icon ion-close"></i>{{"TR_EndLine" | translate}}
            </a>
            <a class="tab-item" ng-click="LineStatus()">
                <i class="icon ion-home"></i>{{"TR_lineStatus" | translate}}
            </a>
            <a class="tab-item" ng-click="shareLine()">
                <i class="icon ion-android-share"></i>{{"TR_ShareLine" | translate}}
            </a>
        </div>
    </div>
</ion-view>