<ion-modal-view>
 	<ion-header-bar>
	    <h1 class="title"><span id="LA_PAGE1CHOOSELINE">Choose Line</span></h1>
	    <div class="buttons">
	    	<button class="button button-clear" ng-click="closeChooseLine()"><span id="LA_PAGE1BACKFROMSEARCH">back</span></button>
	    </div>
	</ion-header-bar>
	<div class="bar bar-subheader">
		<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="search" placeholder="Search" ng-model="searchLine" ng-change="resetSearchBar(searchLine)">
		</label>
		<button class="button" id="page1searchLinesButton" ng-click="searchLineByName(searchLine);"><span id="LA_PAGE1SEARCHBUTTON">Search</span></button>
		
	</div>
	<ion-content scrollbar-y="true" id="page1ListLine">
		<ion-list>
			<ion-item ng-repeat="Line in LineList | filter:searchLine" ng-click="chooseLine(Line);">
		        {{Line.title}}
			</ion-item>
		</ion-list>
	</ion-content>
</ion-modal-view>