<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">


            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-positive">
            <img src="http://graph.facebook.com/{{user.id}}/picture?width=30&height=30" style="border-radius: 10px;" /> {{user.name}}
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/page3">
                    {{"TR_page3" | translate}}
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/page2">
                    {{"TR_page2" | translate}}
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/page1">
                    {{"TR_page1" | translate}}
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/page4">
                    {{"TR_page4" | translate}}
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/page5">
                    {{"TR_page5" | translate}}
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/page6">
                    {{"TR_page6" | translate}}
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/page7">
                    {{"TR_page7" | translate}}
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/page9">
                    {{"TR_page9" | translate}}
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/page10">
                    {{"TR_page10" | translate}}
                </ion-item>

                <ion-item nav-clear menu-close href="#/app/settings">
                    {{"TR_Settings" | translate}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>