<ion-view>

    <ion-content id="myLines"class="page">
            <div class="col col-80 col-offset-10 row large pageTitle"  ng-show="user.username">{{user.username}}'s Lines</div><br>

        <ion-list class="col col-80 col-offset-10">
            <ion-item ng-repeat="Line in user.activeLines" ng-click="chooseLineNew(Line.lineId)">
            <div style="float:left">{{Line.title}}</div>
            </ion-item>
        </ion-list>
        <!--Create Line button-->
            <button class="button icon-left ion-compose button-positive button-block col-80 col-offset-10" menu-close ng-click="createLine()">{{"TR_Create_Line" | translate}}</button>


    </ion-content>
</ion-view>