<ion-view>

    <ion-content id="page12"class="page">
            <div class="col col-80 col-offset-10 row">My Lines:

        </div>

        <ion-list class="col col-80 col-offset-10">
            <ion-item ng-repeat="Line in lineList" ng-click="chooseLineNew(Line.id)">
                {{Line.title}} --- {{Line.id}}
            </ion-item>
        </ion-list>
        <!--Create Line button-->
            <button class="button icon-left ion-compose button-positive button-block col-80 col-offset-10" menu-close ng-click="createLine()">{{"TR_Create_Line" | translate}}</button>


    </ion-content>
</ion-view>