<ion-view>
    <ion-content id="page8">
        <h4 class="col col-offset-20" >{{"TR_myLines" | translate}}:{{timeToWait}}</h4>
        <ion-list class="col col-80 col-offset-10">
            <ion-item ng-repeat="Line in myLineList" ng-click="chooseLine(Line);">
                {{Line.title}}
            </ion-item>
        </ion-list>
        <a class="button button-positive button-block col col-80 col-offset-10" href="#/app/page2" style="padding:0px !important;">{{"TR_Create_Line" | translate}}</a>
        
        <h4 class="col col-offset-20">{{"TR_myMeetings" | translate}}:{{timeToWait}}</h4>
        <ion-list class="col col-80 col-offset-10" style="padding:0px !important;">
            <ion-item ng-repeat="Line in myLineList" ng-click="chooseLine(Line);">
                {{Line.title}}
            </ion-item>
        </ion-list>
        <div class="row row-center row-offset-50" style="padding:0px !important;">
            <div class="col col-50 col-offset-15" style="padding:0px !important;">
                <label class="item item-input">
                    <input type="text" ng-model="lineIdToGetText" placeholder="{{placeholder | translate}}" ng-change="changeInput(lineIdToGetText)" ng-click="clearPlaceHolder()">
                </label>
            </div>
            <div class="col col-10" style="padding:0px !important;">
                <button class="button button-stable button-block"  ng-click="openChooseLine(); lineIdToGetText = ''">+</button>
            </div>
        </div>
        <div class="col-80 col-offset-10" style="padding:0px !important;">

            <button class="button button-positive button-block" ng-disabled="lineIdToGet===''" ng-click="joinLine()">{{"TR_join_line" | translate}}
            </button>
        </div>


    </ion-content>
</ion-view>
