<ion-view>
    <ion-content id="page10">
        <div class="item item-thumbnail-left">
            <img src="./img/temp.jpg">
           <h2>{{meeting.title}}</h2>
        </div>
        <div class="item">    
            <h3>time: {{meeting.time | date : "HH:mm"}}</h3>
            <br>
            <h3>{{"TR_yourPositionIs" | translate}} {{meeting.position}}</h3>
        </div>
        <div class="row row-center">
            <br>
            <br>
            `
        </div>
        <div class="row row-center">
            <div class="col col-25 col-offset-20">
                <br>
                <br>
                <div class="input-labe" ng-disabled="reminder">{{"TR_Reminder" | translate}}</div>
            </div>
            <div class="col col-25">
                <br>
                <br>
                <label class="toggle">
                    <input type="checkbox" ng-model="reminder">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>

        <button class="button button-positive button-block col col-80 col-offset-10" ng-click="cancelLine()">{{"TR_cancelLine" | translate}}</button>
        <button class="button button-positive button-block col col-80 col-offset-10" ng-click="messageAdmon()">{{"TR_messageAdmon" | translate}}</button>
    </ion-content>
</ion-view>
