<ion-view>

    <ion-content id="page2">

        <!-- Line info -->
        <div class="col col-80 col-offset-10">
            <div class="row">
                <div class="col">
                    <img width=100px; src="./img/choose.jpg" onerror="this.src = './img/choose.jpg';" ng-src="newLine.ImageURI" id="smallimage" ng-click="ShowPictures()" />
                </div>
                <div class="col col-center">
                    <div class="item item-input">
                        <input type="text" ng-model="newLine.title" placeholder="Title">
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row row-center">
                <div class="col col-40 col-offset-5">
                    <div class="input-label">{{"TR_2_Dates" | translate}}</div>
                </div>
                <div class="col col-40 col-offset-20">
                    <button class="button button-stable button-block col col-20" ng-click="insertNewDate()">+</button>
                </div>
            </div>
            <li class="row col-90 col-offset-5" ng-repeat="date in dates">
                <div class="col">{{date.from | date:'dd-MM-yyyy'}}</div>
                <div class="col">{{date.from | date:'HH:mm'}} - {{date.to | date:'HH:mm'}}</div>
            </li>

                <div class="col-80 col-offset-10">
                    <div class="input-label">{{"TR_2_Location" | translate}}</div>
                </div>
                <div class="col-80 col-offset-10">
                    <input id="autocomplete" class="col col-75" placeholder="Enter your address" type="text">
                </div>
        

            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div class="input-label">{{"TR_2_Duration" | translate}}</div>
                </div>
                <div class="col col-40 col-offset-20">
                    <input type="number" class="col col-75" ng-model="newLine.druation">
                </div>
            </div>



            <div class="row ">
                <div class="col col-40 col-offset-5">
                    <div class="input-label" ng-disabled="newLine.manuall">Manuall line:</div>
                </div>
                <div class="col col-40 col-offset-20">
                    <label class="toggle">
                        <input type="checkbox" ng-model="newLine.manuall">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col col-40 col-offset-5">
                    <div class="input-label">Confirmation time:</div>
                </div>
                <div class="col col-40 col-offset-20">
                    <input type="number" class="col col-75" ng-model="newLine.confirmTime">
                </div>

            </div>
        </div>

        <button class="button icon-left ion-play button-positive button-block col-80 col-offset-10" menu-close ng-click="createLine()">Start Line</button>


    </ion-content>
</ion-view>