<ion-view>
    <ion-content id="page4">
        <div class="item item-thumbnail-left">
            <img src="./img/temp.jpg">
            <h2>{{line.title}}</h2>
        </div>
        <div class="row row-center">
     <div class="col col-65">
                <br>
                <br>
                <br>
                <label class="item item-input">
                    <input type="text" ng-model="lineLine" input-disabled="editableInput" placeholder="{{line.link}}">
                </label>
            </div> 
            <div class="col col-25">
                <br>
                <br>
                <br>
                <button class="button button-stable button-block " ng-click="copyLineLink()">Copy</button>
            </div>
        </div>
        <div class="col-80 col-offset-10">
            <button class="button icon-left ion-social-facebook button-positive button-block" ng-click="shareFackBook()">{{"TR_4_ShareViaFacebook" | translate}}</button>
        </div>
        <div class="col-80 col-offset-10">
            <button class="button icon-left ion-email button-positive button-block" ng-click="shareEmail()">{{"TR_4_ShareViaEmail" | translate}}</button>
        </div>
        <div class="col-80 col-offset-10">
            <button class="button icon-left ion-iphone button-positive button-block" ng-click="shareMobile()">{{"TR_4_ShareViaMobile" | translate}}</button>

        </div>


    </ion-content>
</ion-view>