<ion-view>
	<ion-nav-title>{{"TR_LINEUP" | translate}}</ion-nav-title>
	<ion-content>
		<a class="button button-positive center page1CreateLineButton" href="#/app/page2">{{"TR_1_BUTTON" | translate}}</a>
		<div class="list list-inset page1LineHolder">
			<label class="item item-input">
		    	<input type="text" ng-model="lineIdToGetText" placeholder="{{placeholder | translate}}" ng-change="changeInput(lineIdToGetText)" ng-click="clearPlaceHolder()">
		  	</label>
		</div>
		<button class="button button-stable page1PlusButton" ng-click="openChooseLine(); lineIdToGetText = ''">+</button>
			<button class="button button-positive center page1JoinLine" ng-disabled="lineIdToGet===''" ng-click="joinLine()">{{"TR_1_JOINLINE" | translate}}
			</button>
		

	</ion-content>
</ion-view>
