<ion-view>
    <ion-nav-title>{{"TR_LINEUP" | translate}}</ion-nav-title>
    <ion-content id="page1">
        <div class="row row-center row-offset-20">
            <div class="col-80  col-offset-10">
                <br>
                <br>
                <br>
                <br>
                <a class="button button-positive button-block" href="#/app/page2">{{"TR_Create_Line" | translate}}</a>
            </div>
        </div>
        <div class="row row-center row-offset-50">
            <div class="col col-50 col-offset-15">
                <br>
                <br>
                <br>
                <label class="item item-input">
                    <input type="text" ng-model="lineIdToGetText" placeholder="{{placeholder | translate}}" ng-change="changeInput(lineIdToGetText)" ng-click="clearPlaceHolder()">
                </label>
            </div>
            <div class="col col-10">
                <br>
                <br>
                <br>
                <button class="button button-stable button-block" ng-click="openChooseLine(); lineIdToGetText = ''">+</button>
            </div>
        </div>
        <div class="row row-center row-offset-20">
            <div class="col-80  col-offset-10">
                <br>
                <br>
                <br>
                <br>
                <button class="button button-positive button-block" ng-disabled="lineIdToGet===''" ng-click="joinLine()">{{"TR_join_line" | translate}}
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>
