<ion-view>
    <ion-content id="page9">
        <div class="item item-thumbnail-left">
            <img src="./img/temp.jpg">
            <h2>{{meeting.title}}</h2>
        </div>
        <label class="item">
              <div class="left">{{meeting.time | date: "dd-MM-yyyy"}}</div><div class="right">{{meeting.time | date: "HH:mm"}}</div>       
        </label>

        <label class="item">
              <div class="left">{{meeting.address}}</div>
        </label>


        <div ng-show="meeting.configEnabeld">

            <label class="item item-input item-select">
                <div class="input-label">{{"TR_Type" | translate}}</div>
                <select ng-options="option for option in meeting.type" ng-model="selectedType"></select>
            </label>

            

            <label class="item item-input item-select">
                <div class="input-label">{{"TR_Time" | translate}}</div>
                <select ng-options="time for time in selectedDate.availableMeetings" ng-model="selectedTime"></select>
            </label>
        </div>
          <div class="item item-input row row-center" >
                <div class="col col-25">
                    <div class="input-label" ng-disabled="reminder">{{"TR_Reminder" | translate}}</div>
                </div>
                <div class="col col-25">
                    <label class="toggle">
                        <input type="checkbox" ng-model="reminder">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <div class="col col-50 col-offset-10">
                    <input type="time" name="input" ng-model="timeReminder" placeholder="HH:mm" min="01:00:00" max="36:00:00" ng-show="reminder"/>
                </div>
            </div>
        <label class="item item-input row">
                <textarea rows="4" placeholder="comments" type="submit" style="border-left: 1px solid #DDD;border-right: 1px solid #DDD;" class="col col-80 col-offset-10"></textarea>
            </label>
            <div class="row row-center">
                <div class="col col-80 col-offset-10">
                    <br>
                    <br>
                    <button class="button button-positive button-block" ng-click="getInLine()">{{"TR_get_in_line" | translate}}
                    </button>
                </div>
            </div>
    </ion-content>
</ion-view>
