<ion-view>
    <ion-content id="page4">

        <!-- Line info -->
        <div class="col col-80 col-offset-10 Meeting info">
            <div class="row">
                <div class="col">
                    <img width=100px src="./img/temp.jpg">
                </div>
                <div class="col">
                    <div class="row">Title:</div>
                    <div class="row">
                        <h3>{{meeting.title}}</h3></div>
                </div>
            </div>
        </div>



            <div class="col-50 col-offset-10">
                <label class="item item-input">
                    <input type="text" readonly ng-model="line.link" ng-change="return;">
                </label>
            </div>
            <div class="col-20 col-offset-10">
                <button class="button button-stable button-block copyBtn" ng-click="copyLineLink()">Copy</button>
            </div>



            <div class="col-80 col-offset-10">
                <button class="button icon-left ion-social-facebook button-positive button-block" ng-click="shareFackBook()">{{"TR_4_ShareViaFacebook" | translate}}</button>
            </div>

            <div class="col-80 col-offset-10">
                <button class="button icon-left ion-iphone button-positive button-block" ng-click="shareMobile()">{{"TR_4_ShareViaMobile" | translate}}</button>
            </div>


    </ion-content>
</ion-view>