<ion-view>
  <ion-content id ="signIn">
  	  	        <br>
                <br>
                <br>
				<br>  	  	        
				<br>
                <br>
                <br>
				<br>
  <div class="col-80 col-offset-10">
  	<button class="button icon-left ion-earth button-positive button-block" menu-close  ng-click="changeLanguage()">{{"TR_Settings_language" | translate}}</button>
  	  	</div>
  	  	        <br>
                <br>
                <br>
				<br>
  	  <div class="col-80 col-offset-10">
  	<button class="button icon-left ion-social-facebook button-positive button-block" ng-click="logOutFB()">{{"TR_Settings_logOutFaceBook" | translate}}</button>

  	</div>
  </ion-content>
</ion-view>
