<ion-view>
  <ion-content id="signIn" class="page">
  	  	        <br>
                <br>
                <br>
				<br>  	  	        
				<br>
                <br>
                <br>
				<br>
  <div class="col-80 col-offset-10">
  	<button class="button icon-left ion-social-facebook button-positive button-block" menu-close  ng-click="signInFackBook()">{{"TR_3_SignIn_Facebook" | translate}}</button>
  	  	</div>
  	  	        <br>
                <br>
                <br>
				<br>
  	  <div class="col-80 col-offset-10">
  	<button class="button icon-left ion-email button-positive button-block" ng-click="signInEmail()">{{"TR_3_SignIn_Email" | translate}}</button>

  	</div>
  </ion-content>
</ion-view>
