
@font-face {
	font-family: OpenSans-Light;
	src: url('./../fonts/OpenSans-Light.ttf') format('opentype');
}



#welcomeScreen {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: url(./../img/LineUp.png) no-repeat;
	background-size: 113 39px;
	background-position: center;  
}



.hidden {
	display: hidden;
}

.title-center {
	background:  url(./../img/LineUp.png) no-repeat;
	background-position: center;  
}

.title.title-left.header-item {
	background:  url(./../img/LineUp.png) no-repeat;
	background-position: center; 	
}


.page {	
	font-family: OpenSans-Light;
}


[class*=item]  {
	font-family: OpenSans-Light;
}

.pane {
	font-family: OpenSans-Light;
	background: url(./../img/grayBackground.jpg);
}

.container {
	margin:5% 10% 10% 10%;
	background: #fff;
	border-radius: 5px;

}

.input-label {
	width: 0%;

}

.progressBar {
	background-color: #fff;
	border-radius: 5px;
	height: 75px;
}

.reminder {
	text-align: right;

}

.item-input {
	border-radius: 5px;
}

.progress {
  height: 3em; 
}


  .progress i {
    line-height: 3.5em; 
}

.progress-bar {
  transition: width 1s ease-in-out; 
}


.bar-footer {
	padding:0px;
}

.scroll-bar-v {
	display: none;
}

.progressBarImage {
	background: url(./../img/blue_background.png);
	height:65px;

}

.lineLable {
	border-width: 0px;
	width:100%;
}

.button.button-icon.button-clear.ion-navicon.hide {
display: block;

}

.pageTitle {
	padding-top:5%;
}

#lineAnalyze .container {
	margin-top:0px;
}

#default .pageTitle {
	padding-bottom: 18px;
}


.modal .item-input {
	border-radius: 0px;
}

.large {
  font-size: 22px;
}

.menu .bar-header {
  font-size: 22px;
  padding-top: 10px;
  padding-left:5%;
}


.subTitle {
	margin-top:5%;
	font-size:18px;
	line-height: 2;
}

.container .ng-binding {
	font-family: OpenSans-Light;
	font-size:18px;
	line-height: 2;
}

.button.copyBtn {
	margin-top: 0px;
	font-size:18px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	font-family: OpenSans-Light;
	font-size:14px;
	line-height: none;
}

.button {
	border-radius: 5px;
	font-size:14px;
}


.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
	opacity: 1;
	font-size:12px;
}

a.tab-item.tabs-stable {
	color: #d3d3d3;
}

.small {
  font-size: 13px;
}

h4.icon {
text-align: center;
font-size: 18px;
line-height: 2;
}
