
@font-face {
	font-family: OpenSans-Light;
	src: url('./../fonts/OpenSans-Light.ttf') format('opentype');
}



#welcomeScreen {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: url(./../img/LineUp.png) no-repeat;
	background-size: 113 39px;
	background-position: center;  
}

/*
body {
	font-family: OpenSans-Light;
}

.button {
	font-family: OpenSans-Light;
}

.modal {
	font-family: OpenSans-Light;
}
.col  {
	font-family: OpenSans-Light;
}

.title  {
	font-family: OpenSans-Light;
}
*/

.dateList {
	min-height: 20px;
}

.left {
	position: absolute;
	line-height: 5px;
	left: 10px;
}
.right {
	position: absolute;
	right: 10px;
	line-height: 5px;
}


.hidden {
	display: hidden;
}

.title-center {
	background:  url(./../img/LineUp.png) no-repeat;
	background-position: center;  
}

.title.title-left.header-item {
	background:  url(./../img/LineUp.png) no-repeat;
	background-position: center; 	
}


[id^=page] {
	background:  url(./../img/background.png)no-repeat;
	background-position: left;  
	font-family: OpenSans-Light;
}

[class*=item]  {
	font-family: OpenSans-Light;
}

.pane {
	font-family: OpenSans-Light;
}

.ng-binding {
	font-family: OpenSans-Light;
}


.button {
	border-radius: 5px;
}

.container {
	margin:10%;
	background: #fff;
	border-radius: 5px;
}

.input-label {
	width: 0%;
}

.progressBar {
	margin:10%;
	background-color: #fff;
	border-radius: 5px;
	height: 75px;
}

.progressBarImage {
	position: absolute;
    clip: rect(0px,100px,64px,0px);
}

.button.copyBtn {
	margin-top: 0px;
	font-size: 12px;
}

.reminder {
	text-align: right;

}

.item-input {
	border-radius: 5px;
}
